@media screen and (max-width: 768px) {
    .bg-family{
        background: url('../../../assets/image-intro-mobile.jpg') no-repeat center;
        width: 375px;
        height: 350px;
    }
}

@media screen and (min-width: 767px) {
    .intro{
        position: relative;
    }
    .bg-family{
        position: absolute;
        z-index: 2;
        top: 105px;
        right: 10px;

        background: url('../../../assets/image-intro-desktop.jpg') no-repeat center;
        width: 550px;
        height: 650px;
    }
}