<section class="benefies-section">
    <h3 class="title">We´re different</h3>
    <div class="benefies-group">
        <app-benefie 
            image="../../../assets/icon-snappy-process.svg" 
            title="Snappy Process" 
            text= "Our application process can be completed in minutes, not hours. Don’t get stuck filling in tedious forms."
        />
        <app-benefie 
            image="../../../assets/icon-affordable-prices.svg" 
            title="Affordable Prices" 
            text= "We don’t want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible."
        />
        <app-benefie 
            image="../../../assets/icon-people-first.svg" 
            title="People First" 
            text= "Our plans aren’t full of conditions and clauses to prevent payouts. We make sure you’re covered when you need it."
        />
    </div>
</section>