<header class="header">
    <img class="logo" src="../../../assets/logo.svg" alt="">
    @if (Open) {
        <img class="icon" (click)="Open=false"  src="../../../assets/icon-close.svg" alt="">
    }@else {
        <img class="icon" (click)="Open=true" src="../../../assets/icon-hamburger.svg" alt="">
    }
    <nav class="nav-desk">
        <a href="#" class="link">HOW WE WORK</a>
        <a href="#" class="link">BLOG</a>
        <a href="#" class="link">ACCOUNT</a>
        <a href="#" class="plans">VIEW PLANS</a>
    </nav>
</header>
@if (Open) {
    <nav class="nav-mobile">
        <div>
            <a href="#" class="link">HOW WE WORK</a>
            <a href="#" class="link">BLOG</a>
            <a href="#" class="link">ACCOUNT</a>
            <a href="#" class="link">VIEW PLANS</a>
            <div class="pattern-nav"></div>
        </div>
    </nav>
}