.section{
    position: relative;
    background-color: #2D2641;
}

.pattern-top{
    background-image: url('../../../assets/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 350px 100px;
    left: 0px;
    top: 0px;
}

.pattern-bottom{
    background-image: url('../../../assets/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    padding: 350px 63px;
    right: 0px;
    top: 0px;
}

.sectionDescrition{
    text-align: center;
    padding: 90px 25px;
}

.titleDescrition{
    font-family: 'DM Serif Display';
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -.67px;
}

.descrition{
    font-family: 'Karla';
    font-size: 18px;
    font-family: 400;
    color: #fff;
    padding: 15px 0 45px;
}